---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ecopolis, Innovación Urbana Sostenible" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Ecopolis IE COMFASUCRE" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
  </head>
  <body class="bg-white">
    <slot />
  </body>
</html>
